#general_stats {
  width: 90%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#general_stats section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#general_stats section .card {
  width: 90%;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.6rem;
  margin: 0.5rem;
}

#general_stats button {
  width: 90%;
  height: 3rem;
  margin: 1rem 0;
  padding: 0.5rem;
  background: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
}

@media (min-width: 700px) {
  #general_stats section {
    flex-direction: row;
  }

  #general_stats section .card {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 900px) {
  #general_stats section .card {
    margin: 0 1.5rem;
  }

  #general_stats button {
    width: 70%;
  }
}
