@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP");

body,
body * {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
